<nav class="navbar navbar-expand navbar-dark bg-info">
  <a class="navbar-brand text-light justify-content-start">Messaging</a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
    <ul class="navbar-nav">
      <p class="mb-0 d-none d-md-block user-name">{{userInfo?.email}}</p>
      <button class="header-image" [ngStyle]="setStyle(userInfo?.profileImage)" [matMenuTriggerFor]="menu"></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item matTooltip="My Profile" (click)="myProfile()">
          <span>My Profile</span>
        </button>
        <button mat-menu-item matTooltip="Deactivate" (click)="deactivateAccount()">
          <span>Deactivate</span>
        </button>
        <button mat-menu-item matTooltip="Logout" (click)="logout()">
          <span>Logout</span>
        </button>
      </mat-menu>
    </ul>
  </div>
</nav>