<app-header (logoutEmited)="logout()" (deactivateAccountEmited)="deactivateAccount()" [userInfo]="userInfo">
</app-header>
<div class="container ">
  <div class="row body-container">
    <div class="col-md-4 contact-container d-md-block" [ngClass]="{'d-none': selectedUser}">
      <div class="row contact-header">
        <div class="col-md-4 col-4">
          <h5>Contacts</h5>
        </div>
        <div class="col-md-8 col-8">
          <div class="search-group">
            <span class="material-icons">
              search
            </span>
            <input class="form-control search" type="text" [(ngModel)]="searchValue" name="searchValue"
              (ngModelChange)="searchValueChange()" placeholder="Search">
          </div>
        </div>
      </div>
      <button mat-mini-fab (click)="openAddDialog()" class="add-button">
        <mat-icon>person_add</mat-icon>
      </button>
      <div class="contacts">
        <div class="contact " [ngClass]="{'active-chat': selectedUser?.userId._id=== contact.userId._id}"
          *ngFor="let contact of userContacts | search:searchValue:'userId':'email';let i = index;"
          (click)="showEmojiMethod('contact'); getUserMessages(contact,i)">
          <div class="contact-header-image" [ngStyle]="setStyle(contact.userId.profileImage)">
          </div>
          <p class="mb-0"><em>{{contact.userId.email}}</em></p>
          <p class="mb-0 contact-last-message">
            <ng-container *ngIf="!contact.typing">
              <span *ngIf="contact.lastMessage_Id?.sender.email === userInfo?.email"
                class="mr-2">&#x2713;</span>{{contact.lastMessage_Id?.content}}
            </ng-container>
            <ng-container *ngIf="contact.typing">
              <em style="color: green;">typing...</em>
            </ng-container>
          </p>
          <span class="lastMessageTime">{{contact.lastMessage_Id?.lastMessageTimeCreated}}</span>
          <span class="status" [ngClass]="{'online': contact.userId.status,'offline':!(contact.userId.status)}"></span>
          <span class="notification badge badge-pill badge-success rounded-circle"
            *ngIf="!contact.seen">{{contact.messageCount}}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-8 message-container d-none d-md-block" [ngClass]="{'d-none':!selectedUser}">
      <div *ngIf="selectedUser" class="message-header pl-2 pt-2 pb-2">
        <div class="mr-2 d-md-none d-inline-block">
          <span class="material-icons" style="cursor: pointer; position: relative; bottom: 9px;"
            (click)="onBackArrow()">
            arrow_back
          </span>
        </div>
        <div class="message-header-image d-inline-block mr-2" (click)=" contactProfile()"
          [ngStyle]="setStyle(selectedUser?.userId.profileImage)">
        </div>
        <div class="d-inline-block message-header-text">
          <h6>{{selectedUser?.userId.email}}</h6>
          <p class="text-muted pt-0 pl-0" style="font-size: 12px;">
            <ng-container *ngIf="!selectedUser?.typing">
              <ng-container *ngIf="selectedUser?.userId.status">
                {{"Online"}}
              </ng-container>
              <ng-container *ngIf="selectedUser && !(selectedUser?.userId.status)">
                Last seen: {{selectedUser?.userId.lastSeen | date:"medium"}}
              </ng-container>
            </ng-container>
            <ng-container *ngIf="selectedUser?.typing">
              <em style="color:white;">typing...</em>
            </ng-container>
          </p>
        </div>
        <div class="d-inline-block">
          <button mat-icon-button [matMenuTriggerFor]="menu" class="delete-icon">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item matTooltip="Profile" (click)="contactProfile()">
              <span>Profile</span>
            </button>
            <button mat-menu-item matTooltip="Delete User" (click)="deleteContact()">
              <span>Delete Contact</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div *ngIf="!selectedUser" class="main-page">
        <img src="assets/images/icon.png" alt="chaticon">
        <p class="text-muted">Allows user to send messages.
          <br>
          Communication can be done one to one.</p>
      </div>
      <div class="message-content">
        <div #messagesRef class="messages" [ngStyle]="{'height': selectedUser? '507px': '609px' }"
          (scroll)="scrollFunction()">
          <div *ngFor="let message of userMessages">
            <div *ngIf="message.messageType ==='outgoing'" class="clearfix">
              <div class="outgoing-message">
                <p class="mb-0 outgoing-message-content"><span class="mr-1">&#x2713;</span>{{message.content}}</p>
                <p class="mb-3 text-muted pt-0 outgoing-message-timestamp">
                  {{message.time_created | date:"medium"}}</p>
              </div>
            </div>
            <div *ngIf="message.messageType ==='incoming'">
              <div class="incoming-message">
                <p class=" mb-0 incoming-message-content">
                  {{message.content}}</p>
                <p class="mb-3 text-muted pt-0 incoming-message-timestamp">
                  {{message.time_created | date:"medium"}}</p>
              </div>
            </div>
          </div>
        </div>
        <button mat-mini-fab *ngIf="scrollButton" class="scroll-button" (click)="gotoBottomPage()">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <form #sendForm="ngForm" (ngSubmit)="showEmojiMethod('submit-button');sendMessage(sendForm);sendForm.reset();">
          <div class="input-group" *ngIf="selectedUser" id="send-message">
            <span class="material-icons emoji-icon" (click)="showEmojiMethod('icon')">
              insert_emoticon
            </span>
            <input class="send-message-input" type="text" name="message" [(ngModel)]="message" required
              (ngModelChange)="userTyping()" placeholder="Type a message" (click)="showEmojiMethod('input')">
            <button mat-mini-fab class="send-message-button" type="submit" [disabled]="sendForm.invalid">
              <mat-icon>send</mat-icon>
            </button>
            <ng-container *ngIf="showEmoji">
              <emoji-mart (emojiClick)="addEmoji($event)" showSingleCategory="true"
                [style]="{ position: 'absolute', bottom: '45px', left: '30px'}">
              </emoji-mart>
            </ng-container>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>