<div class="main-box">
  <div class="container login-box">
    <h1>Register</h1>
    <form #form="ngForm">
      <div class="form-group ">
        <div class="text-box">
          <i class="fas fa-envelope icon fa-1x"></i><label for="email">Email</label>
          <input type="text" ngModel class="form-control" id="email" placeholder="Email" name="email" required
            #emailController="ngModel" pattern="^[a-z0-9](\.?[a-z0-9]){5,}@gmail\.com$">
          <p style="color: red;" *ngIf="emailController.errors?.required && emailController.touched">Email is required
          </p>
          <p style="color: red;"
            *ngIf="!emailController.errors?.required && emailController.errors?.pattern && emailController.touched">
            Please enter valid
            Email address</p>
        </div>
      </div>
      <div class="form-group ">
        <div class="text-box">
          <i class="fas fa-key icon fa-1x"></i><label for="password">Password</label>
          <input type="password" ngModel class="form-control" id="password" placeholder="Password" name="password"
            required #passwordController="ngModel">
          <p style="color: red;" *ngIf="passwordController.errors?.required && passwordController.touched">Password is
            required</p>
        </div>
      </div>
      <button class="btn btn-success button" (click)="register(form); form.reset();"
        [disabled]="form.invalid">Register</button>
    </form>
  </div>
</div>