<div class="main-box">
  <h1 class="text-muted heading">
    Messaging App</h1>
  <div class="container register-box">
    <h1>Register</h1>
    <form #form="ngForm">
      <div class="form-group ">
        <div class="text-box">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Email Address</mat-label>
            <mat-icon matPrefix>email</mat-icon>
            <input matInput placeholder="Email Address" ngModel #emailController="ngModel" required email name="email"
              type="text">
            <mat-hint>johnny@gmail.com</mat-hint>
            <mat-error *ngIf="emailController.errors?.required && emailController.touched">Email is required
            </mat-error>
            <mat-error *ngIf="emailController.errors?.email && emailController.touched">Enter valid Email Address
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group ">
        <div class="text-box">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Password</mat-label>
            <mat-icon matPrefix>lock</mat-icon>
            <input matInput placeholder="Password" ngModel #passwordController="ngModel" required name="password"
              type="password">
            <mat-error *ngIf="passwordController.errors?.required && passwordController.touched">Password is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <button mat-flat-button (click)="register(form); form.reset();" [disabled]="form.invalid"
        class="btn-block register-button">Register</button>
    </form>
    <p class="mb-0 mt-3 text-center text-muted register" style="font-size: 12px;">Already existed user? <u
        routerLink="/login">Go to login</u></p>
  </div>
</div>